@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "../../../scss/varuables.scss";
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.carousel1 {
	width: 100%;
	height: 260px;
	position: absolute;
	left: 0%;
	top: 20%;
	.slide {
		transform: scale(0.9);
		transition: transform 300ms;
		opacity: 0.7;
		position: relative;
		overflow: hidden;
		img {
			width: 100%;
			height: 260px;
			object-fit: cover;
			margin: 0 auto;
			border-radius: $br_r_0;
		}
		.link {
			padding: 2% 2% 4%;
			width: 70%;
			text-align: center;
			color: $light;
			position: absolute;
			bottom: -15%;
			left: 15%;
			font-size: 1.4rem;
			border-radius: 0 20px 0 20px;
			text-shadow: 1px 1px 5px #000;
			// background: linear-gradient(
			// 	to right bottom,
			// 	#010f8bc6,
			// 	#009dffb9,
			// 	#84dcffd2
			// );
			// box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
			&:hover {
				transform: scale(1.07);
			}
		}
	}
	.active {
		transform: scaleX(1);
		opacity: 1;
		img {
			width: 100%;
			z-index: 123;
			object-fit: cover;
		}
		.link {
			bottom: 5%;
			left: 15%;
		}
	}
	.arrow {
		position: absolute;
		cursor: pointer;
		z-index: 12;
		width: 10%;
		text-align: center;
		transition: 0.1ms;
		&:hover {
			color: $primary;
			transition: 0.1ms;
		}
	}

	.next {
		right: 2%;
		bottom: 0;
	}
	.prev {
		right: 12%;
		bottom: 0;
	}
}
