@import "./varuables.scss";
* {
	padding: 0;
	margin: 0;
	color: inherit;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	transition: 0.2s;
}
a:hover {
	// color: $primary;
}
body {
	overflow-x: hidden;
	margin: 0 auto;
	background: #1b1c2f;
}
.container {
	width: 100%;
	padding: 0 10%;
	margin: 0 auto;
}
